/*

Your styles go here!

Hint! You'll probably want to start by styling:
  * <body>
  * <article>
  * <h1>
  * <img>

I've left some boilerplate below for you.

*/

@import url(http://weloveiconfonts.com/api/?family=zocial);

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}


body {
	width: 900px;
	margin-right: auto;
	margin-left: auto;

}

article {
	max-width: 50em;

}

h1 {

}

img {
	max-width: 100%

}
