/*

Your styles go here!

Hint! You'll probably want to start by styling:
  * <body>
  * <article>
  * <h1>
  * <img>

I've left some boilerplate below for you.

*/

@import url(http://weloveiconfonts.com/api/?family=zocial);

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

@media (min-width: 800px) {
	body {
		width: 800px;
		margin-right: auto;
		margin-left: auto;
	}
}

article {
	max-width: 50em;

}

h1, h2 {
	color: red;
	text-align: center;
	font-family: cursive;
}

img {
	max-width: 100%
}

footer {
	text-align: center;
}

footer #social a {
	display: inline-block;
	font-size: 28px;
	margin-right: .5em;
	margin-left:  .5em;
	font-family: 'zocial', sans-serif;
	text-shadow: 3px 3px 3px #aaa;
	width: 2em;
	color: black;
	text-decoration: none;
}



