@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Cormorant');
@import url('http://weloveiconfonts.com/api/?family=zocial');

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

@media (min-width: 800px) {
	body {
		width: 800px;
		margin-right: auto;
		margin-left: auto;
		background:#6b6b6b;		
	}
}

article {
	max-width: 50em;
	background: rgba(10, 0, 252, 0.75);
	padding: 10px;
	font-family: 'Cormorant', serif;
	font-weight: 500;
	color: #FFFFFF;
}

h1, h2 {
	color: red;
	text-align: center;
	font-family: 'Playfair Display', serif;
}

h2, figcaption {
	text-shadow: 2px 1px #000000; 
}

figcaption {
  	text-align: center;
  	font-family: 'Playfair Display', serif;
}

img {
	max-width: 100%
}

footer {
	text-align: center;
}

footer #social a {
	display: inline-block;
	font-size: 28px;
	margin-right: .5em;
	margin-left:  .5em;
	font-family: 'zocial', sans-serif;
	text-shadow: 3px 3px 3px #aaa;
	width: 2em;
	color: black;
	text-decoration: none;
}



